
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(6, 6, 39);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(21, 21, 61);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(135, 135, 236);
    font-size: 1.04rem;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 45px 80px;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;


    margin: 40px 0;

}

.firstSection>div {
    width: 30%;

}

.leftSection {

    font-size: 2rem;
}

.rightSection img {
    width: 90%;
    position: relative;
    top: 51px;
    left: 101px;
}

.purpal {
    color: rgb(197, 144, 246);
}

.Text-gray {
    color: gray;
}

#element {
    color: rgb(197, 144, 246);
}

.SecondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.SecondSection h1 {
    font-size: 1.7rem;
}

.SecondSection .box {
    background: white;
    width: 77vw;
    height: 2px;
    margin: 50px 0;
    display: flex;
}

.SecondSection .vertical {
    height: 90px;
    width: 1px;
    background-color: white;
    margin: 0 135px;

}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;

}

.vertical-title {
    position: relative;
    top: 75px;
    left: -2px;
    font-size: 15px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 9px;
}

footer {
    background-color: #0e0e1a;
    /* height: 200px; */

}

.footer {
    display: flex;
    padding: 20px 100px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;
}

.footer>div {
    width: 200px;
}

footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 8px 0;
}

.x-logo {
    width: 23px;
    position: relative;
    top: 7px;
    left: -9px;
}

ul li a {
    text-decoration: none;
    color: white;
}

.fb-logo {
    width: 39px;
    position: relative;
    top: 7px;
    left: -16px;
}

.youtube-logo {
    width: 29px;
    position: relative;
    top: 7px;
    left: -10px;
}

.insta-logo {
    width: 31px;
    position: relative;
    top: 7px;
    left: -11px;
}

.medium-logo {
    width: 31px;
    position: relative;
    top: 7px;
    left: -11px;
}

.gmail-logo {
    width: 29px;
    position: relative;
    top: 7px;
    left: -11px;
}

.whatsapp-logo {
    width: 29px;
    position: relative;
    top: 7px;
    left: -11px;
}

.humsub-logo {
    width: 29px;
    position: relative;
    top: 7px;
    left: -11px;
}

.muckrack-logo {
    width: 29px;
    position: relative;
    top: 7px;
    left: -11px;
}

.frayday-logo {
    width: 29px;
    height: 19px;
    position: relative;
    top: 7px;
    left: -11px;
}

.gurdin-logo {
    width: 29px;

    position: relative;
    top: 7px;
    left: -11px;
}

.tribune-logo {
    width: 29px;
    height: 19px;
    position: relative;
    top: 7px;
    left: -11px;
}
